modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node silva.js"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 25680
externalPort = 3000

[userenv]

[userenv.shared]
AUTO_STATUS_REPLY = "false"
DEBUG = "true"
PORT = "5000"
DEBUG_MSG = "true"
DEBUG_HANDLER = "true"
